# Django secret key
DJANGO_SECRET_KEY=your-secret-key

# Debug mode (True/False)
DEBUG=True

#DATABASE URL
DATABASE_URL = your-Database-url

# --- FIREBASE AUTHENTICATION ---
# This must be the ENTIRE contents of your firebase-adminsdk.json file, 
# compressed into a single line/string. Keep the \n characters intact!
FIREBASE_CREDS='{"type":"service_account","project_id":"your-project-id","private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n","client_email":"..."}'