# Django secret key
DJANGO_SECRET_KEY=your-secret-key

# Debug mode (True/False)
DEBUG=True

#DATABASE URL
DATABASE_URL = your-Database-url

# --- FIREBASE AUTHENTICATION ---
# This must be the ENTIRE contents of your firebase-adminsdk.json file, 
# compressed into a single line/string. Keep the \n characters intact!
FIREBASE_CREDS='{"type":"service_account","project_id":"your-project-id","private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n","client_email":"..."}'

# --- OBJECT STORAGE ---
MINIO_ENDPOINT_URL = your minio server endpoint 
MINIO_QURANTINE_BUCKET_NAME = your minio qurantine bucket name 
MINIO_ACCESS_KEY = your minio server access key 
MINIO_SECRET_KEY = your minio server secret key 
MINIO_REGION_NAME = your minio server region name 
MINIO_READY_BUCKET_NAME = your minio ready / production bucket name